<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boolflix</title>
  <link href='https://fonts.googleapis.com/css?family=Yusei Magic' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="./assets/css/master.css">
</head>
<body>
  <div id="root">
    <!-- creazione barra ricerca -->
    <header>
      <div class="container-head">
        <div class="logo-title">
          <h1>Boolflix</h1>
        </div>
        <div class="search">
          <i class="fas fa-search"></i>
          <input type="text"
          placeholder="cerca Film e serieTv"
          @keyup="search()"
          v-model="searchTitle"
          >
          
        </div>
      </div>
    </header>

    <main>
      <div class="container container-movSeries">
        <!-- film -->
        <div class="list-movies"
        v-for="(movie, i) in movies"
        >
          <img class="poster" :src="`http://image.tmdb.org/t/p/w300/${movie.poster_path}`" alt="">
          <div class="info-movie">
            <h2>Film</h2>
            <p><span>Titolo: </span>{{ movie.title }}</p>
            <p :class="(movie.title == movie.original_title) ? 'active' : ''">
              <span>Titolo originale: </span>{{ movie.original_title }}
            </p>
            <p><span>Descrizione: </span>{{ movie.overview }}</p>
            <p>
              <img class="flag" v-if="movie.original_language == 'en'" :src="`https://www.countryflags.io/us/shiny/64.png`" alt="">
              <img class="flag" v-else-if="movie.original_language == 'ja'" :src="`https://www.countryflags.io/jp/shiny/64.png`" alt="">
              <img class="flag" v-else :src="`https://www.countryflags.io/${movie.original_language}/shiny/64.png`">
            </p>
            <p class="star">
              <i v-for="(star, i) in 5" :class="ratingStar(movie, i)"></i>
            </p>
          </div>
        </div>

        <!-- serie tv -->
        <div class="list-movies"
        v-for="(serie, i) in series"
        >
          <img class="poster" :src="`http://image.tmdb.org/t/p/w300/${serie.poster_path}`" alt="">
          <div class="info-movie">
            <h2>Serie tv</h2>
            <p><span>Titolo: </span>{{ serie.name }}</p>
            <p :class="(serie.name == serie.original_name) ? 'active' : ''">
              <span>Titolo originale: </span>{{ serie.original_name }}
            </p>
            <p><span>Descrizione: </span>{{ serie.overview }}</p>
            <p>
              <img class="flag" v-if="serie.original_language == 'en'" :src="`https://www.countryflags.io/us/shiny/64.png`" alt="">
              <img class="flag" v-else-if="serie.original_language == 'ja'" :src="`https://www.countryflags.io/jp/shiny/64.png`" alt="">
              <img class="flag" v-else :src="`https://www.countryflags.io/${serie.original_language}/shiny/64.png`">
            </p>
            <p class="star">
              <i v-for="(star, i) in 5" :class="ratingStar(serie, i)"></i>
            </p>
          </div>
        </div>

      </div>
    </main>


  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./assets/js/main.js" charset="utf-8"></script>
</body>
</html>
