*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  width: 85%;
}

.active{
  display: none;
}

/* header */
.container-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

header{
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #141414;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.logo-title > h1{
  color: #E50914;
}
/* header */

/* main */
main{
  margin-top: 80px;
}

.search input{
  padding: 5px;
  text-align: center;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}

.search button{
  padding: 5px 15px;
  text-align: center;
  border-radius: 5px;
  border: none;
}

.list-movies{
  width: 200px;
  height: 300px;
  margin-top: 10px;
  margin-left: 10px;
}

img.poster{
  height: 300px;
  width: 200px;
}

.list-movies .info-movie{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-movSeries{
  display: flex;
  flex-wrap: wrap;
}

img.flag{
  height: 20px;
}

/* valutazione */
.star{
  display: flex;
  padding-left: 5px;
}

.gold{
  color: #faff00;
}
/* valutazione */

/* main */
